@model WebBanHangOnline.Models.EF.Product
@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.SeoDescription = Model.SeoDescription ?? Model.Title;
    ViewBag.SeoKeyWord = Model.SeoKeywords ?? Model.Title;
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
@*<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">*@
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">
<style>
    .product_slider_container {
        width: 100%;
        height: 340px;
        margin-top: 73px;
    }
    .product_slider {
        overflow: visible !important;
    }
    .product_slider_item .product-item {
        width: 100% !important;
    }

    .product_slider_item .product-item {
        height: 340px;
    }

    .product-item {
        width: 20%;
        height: 380px;
        cursor: pointer;
    }
    .product {
        width: 100%;
        height: 340px;
        border-right: solid 1px #e9e9e9;
    }
    .product_image {
        width: 100%;
    }
    .product_image {
        width: 100%;
    }
    .product_bubble_right {
        right: 15px;
    }

    .product_bubble_red {
        background: #fe4c50;
    }

    .product_bubble {
        position: absolute;
        top: 15px;
        width: 50px;
        height: 22px;
        border-radius: 3px;
        text-transform: uppercase;
    }
        .product_bubble span {
            font-size: 12px;
            font-weight: 600;
            color: #FFFFFF;
        }
    .product_bubble_red::after {
        border-color: transparent transparent transparent #fe4c50;
    }

    .product_bubble_right::after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 6px;
        right: auto;
        top: auto;
        bottom: -6px;
        border: 6px solid;
    }
    .product_info {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .product_name {
        margin-top: 27px;
    }
        .product_name a {
            color: #1e1e27;
            line-height: 20px;
        }
    .discount .product_info .product_price {
        font-size: 14px;
    }

    .product_price {
        font-size: 16px;
        color: #fe4c50;
        font-weight: 600;
    }
        .product_price span {
            font-size: 12px;
            margin-left: 10px;
            color: #b5aec4;
            text-decoration: line-through;
        }
/*    .add_to_cart_button {
        width: 100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }*/

    .red_button {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 40px;
        background: #fe4c50;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .add_to_cart_button a {
        font-size: 12px;
        font-weight: 600;
    }

    .red_button a {
        display: block;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        line-height: 40px;
        width: 100%;
    }
    .product-item::after {
        display: block;
        position: absolute;
        top: 0;
        left: -1px;
        width: calc(100% + 1px);
        height: 100%;
        pointer-events: none;
        content: '';
        border: solid 2px rgba(235, 235, 235, 0);
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .product_slider_nav_left {
        top: 50%;
        left: 0;
    }

    .product_slider_nav {
        position: absolute;
        width: 30px;
        height: 70px;
        background: #d3d3d6;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }


    .product_slider_nav_right {
        top: 50%;
        right: 0;
    }
    .product_slider_nav i {
        color: #FFFFFF;
        font-size: 12px;
    }
    .fa-chevron-right:before {
        content: "\f054";
    }
    .product_slider_container:hover .product_slider_nav {
        visibility: visible;
        opacity: 1;
    }
</style>
@if (Model != null)
{


    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/danh-muc-san-pham/@Model.ProductCategory.Alias-@Model.ProductCategoryId"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.ProductCategory.Title</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Title</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                @if (Model.ProductImage != null && Model.ProductImage.Any())
                {
                    <div class="single_product_pics">
                        <div class="row">
                            <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                <div class="single_product_thumbnails">
                                    <ul>
                                        @foreach (var item in Model.ProductImage)
                                        {
                                            if (item.IsDefault)
                                            {
                                                <li class="active"><img src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                            else
                                            {
                                                <li><img src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 image_col order-lg-2 order-1">
                                <div class="single_product_image">
                                    <div class="single_product_image_background" style="background-image:url(@Model.ProductImage.FirstOrDefault(x=>x.IsDefault).Image)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>@Model.Title</h2>
                        <p>@Model.Description</p>
                    </div>
                    @if (Model.PriceSale > 0)
                    {
                        <div class="original_price">@WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0)</div>
                        <div class="product_price">@WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale, 0)</div>
                    }
                    else
                    {
                        <div class="product_price">@WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0)</div>
                    }
                    <ul class="star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>

                    <div class="quantity d-flex flex-column flex-wrap flex-sm-row align-items-sm-center">
                        <span>Số lượng:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        @*<div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@Model.Id">Thêm vào giỏ hàng</a></div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>*@
                    </div>
                    <div class="mt-4 d-flex flex-wrap align-items-center" >
                        <div class="red_button  add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@Model.Id">Thêm vào giỏ hàng</a></div>
                        <div class="product_favorite  d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tabs_section_container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                            @*<li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>*@
                            <li class="tab" data-active-tab="tab_3"><span>Reviews (@ViewBag.CountReview)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <div class="row">
                            @Html.Raw(Model.Detail)
                        </div>
                    </div>

                    <!-- Tab Additional Info -->
                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

                            <div class="col-lg-6 reviews_col">
                                @Html.Action("_Load_Review", "Review", new { productId = Model.Id })
                            </div>

                            <!-- Add Review -->

                            <div class="col-lg-6 add_review_col">


                                @Html.Action("_Review", "Review", new { productId = Model.Id })
                            </div>

                        </div>
                    </div>
                    <br />
                    <!--More Peoduct-->
                    @Html.Action("Partial_ProductSales", "Products")
                    @*@Html.Partial("Partial_ProductSales", new List<WebBanHangOnline.Models.EF.Product> { Model })*@

                </div>
            </div>
        </div>

    </div>

}
@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>
}